h1 {
    background-color: #d1395e;
    border: 20px solid #7a003e;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #FFFFFF;
    font-family: 'Bungee', cursive;
    font-size: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #81e4ea;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

#input-output-div {
    max-width: 900px;
    margin: 0 auto 0;
    padding: 0;
    height: 100%;
    /* display: flex; */
}

#input-div {
    background-color: blueviolet;
    width: 100%;
    height: 100%;
    /* display: none; */
    /* flex: 0 0 50%; */
}

#input {
    border: none;
    display: block;
    height: 80%;
    width: 100%;
    padding: 0;
}

#output-div {
    /* display: none; */
    background-color: greenyellow;
    /* flex: 1; */
}